/*обнуление*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,header,footer,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,textarea,button{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h3,h5,h6{font-size: inherit; font-weight: 400;}

/*работа над проектом*/

body{
    padding: 30px;
    background: rgb(213,206,166);
background: -moz-linear-gradient(top,  rgb(213,206,166) 0%, rgb(201,193,144) 40%, rgb(183,173,112) 100%);
background: -webkit-linear-gradient(top,  rgb(213,206,166) 0%,rgb(201,193,144) 40%,rgb(183,173,112) 100%);
background: linear-gradient(to bottom,  rgb(213,206,166) 0%,rgb(201,193,144) 40%,rgb(183,173,112) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 );

}

.block{
    margin: 0 0 30px 0;
}
.block:first-line{
    color: olive;
}
.block:first-letter{
    font-size: 30px;
    color: red;
}

.block:hover {
    background: rgb(153, 39, 39);
}

.block p{
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 20px 0;
}
.block p:nth-child(odd){
    text-transform: uppercase;
}
.block p:nth-child(even){
    text-transform: capitalize;
}

.link{
    color: rgb(41, 41, 223);
}
.link:visited{
    color: purple;
}
.link:hover {
    text-decoration: underline;
    color: yellow;
}
.link:active{
    color:red;
}

.textinput{
    border: 1px solid rgb(153, 39, 39);
    height: 50px;
    font-size: 18px;
    padding: 0 15px;
    width: 300px;
    margin: 0 0 10px 0;
    border-radius: 15px;
}
.textinput:focus{
    box-shadow: 0 0 10px  rgb(153, 39, 39);
}

.textbutton{
    display: block;
    width: 300px;
    height: 50px;
    background-color: rgb(153, 39, 39);
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    margin: 0 0 30px 0;
}
.textbutton:hover{
    background-color: white;
    color: rgb(153, 39, 39);
    border: 1px solid rgb(153, 39, 39);
}
.textbutton:active{
    color: red;
    background-color: grey;
}

.list li{
    font-size: 18px;
    margin: 0 0 10px 0;
}
.list li:first-child{
    color: red;
}
.list li:nth-child(2){
    color: yellow;
}
.list li:last-child{
    color: green;
}

.list li:before {
    content: "☣";
}

.list li:after {
    content: "☣";
}